<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="nav nav-pills nav-justified nav-top">
            <div class="col-md-4">
                <a href="/home" class="navbar-brand">
                    <img src="./imgs/banner.png" alt="" class="d-inline-block align-top" width="80%" height="80%">
                </a>
            </div>
        </nav>
        <div class="row main-content" style="background: #424242">
            <div class="col-lg-2 nav-left">
                <ul>
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/healthrecord">Health Record</a></li>
                    <li><a href="/request">Request</a></li>
                    <li><a href="/doctor">Doctors</a></li>
                </ul>
            </div>
            <div class="col-lg-3" style="background: #ffffff; padding: 40px;">
                <img src="./imgs/profile-picture.png" alt="" width="320px" height="320px;">
            </div>
            <div class="col-lg-7" style="background: #ffffff; padding: 40px">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">ID: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= participant.id %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Name: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= participant.firstName + " " + participant.lastName %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Identity Card Number: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= participant.identityCardNumber %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Date of birth: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= participant.dateOfBirth %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Gender: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= participant.gender %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Marital: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= asset.marriageStatus %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Ethnicity: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= participant.ethnicity %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Nationality: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= asset.nationality %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Address: </label>
                    </div>
                    <div class="col-sm-9">
                        <label for=""><%= asset.patientDemographic.contact.address.address + ", " + asset.patientDemographic.contact.address.city + ", " + asset.patientDemographic.contact.address.state + ", " + asset.patientDemographic.contact.address.country %></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Phone Number: </label>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="">Home: </label>
                            </div>
                            <div class="col-sm-9">
                                <label for=""><%= asset.patientDemographic.contact.patientPhoneNumber.home%></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="">Work: </label>
                            </div>
                            <div class="col-sm-9">
                                <label for=""><%= asset.patientDemographic.contact.patientPhoneNumber.work%></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="">Mobile: </label>
                            </div>
                            <div class="col-sm-7">
                                <label for=""><%= asset.patientDemographic.contact.patientPhoneNumber.mobile%></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>